<h1>WE ARE HIRING INTERNS!</h1><br><hr>

<div class="search">
  <input class="sea" type="search"  placeholder="Search" > 
  <button class="sear" type="submit">Search</button>
</div>
<br><br>
<div class="container">
  <h1 style="text-align: center;">Application Form</h1>
  <p style="text-align: center;">Registration fee Rs.400/-</p><br>
 
  <label for="form">Choose relevant internship opening:</label><br>
  <select style="padding: 15px 10px;" class="size" name="" id="form" required>
    <option value="">Choose</option>
    <option value="">Digital Marketing</option>
    <option value="">Angular Developer</option>
    <option value="">React Developer</option>
    <option value="">WordPress Developer</option>
    <option value="">Project Management</option>
    <option value="">Product Management</option>
    <option value="">Market Research</option>
    <option value="">Sales</option>
    <option value="">SpringBoot Developer</option>
    <option value="">Java Developer</option>
  </select>
  <br><br>
  <label for="">What’s your employment status?</label><br>
  <select class="size" name="" id="" required>
    <option value="">Choose</option>
    <option value="">College Student</option>
    <option value="">Employed</option>
    <option value="">Unemployed</option>
    <option value="">Other</option>
  </select>
  <br><br>
  <label for="">Do you have previous experience?</label>
  <select class="size" name="" id="" >
    <option value="">Choose</option>
    <option value="">Yes</option>
    <option value="">No</option>
  </select><br><br>
  <label for="">Payment Transaction ID</label><br>
  <input style="padding: 9px;" class="size" type="text" size="53" required >
  <br><br>
  <a href="#"><button class="btn">Next</button></a>

</div>
<br><br>
<hr>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
          <!-- Section: Social media -->
         
          <!-- Section: Social media -->
      
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Sign up for our newsletter</strong>
                  </p>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example2" class="form-control" />
                    <label class="form-label" for="form5Example2">Email address</label>
                  </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section>
          <!-- Section: Form -->
      
          <!-- Section: Text -->
          <section class="mb-4">
            <p>
              Our expert teachers design and curate the curriculum using best practices
               and careful consideration of how people learn and retain information with 
               the ongoing tech trends in the professional domain. We've debated every facet 
               of our methodology, from the order in which to teach concepts, the analogies used 
               to clarify them and how exercises should be structured to deliver the maximum educational punch.
            </p>
          </section>
          <!-- Section: Text -->
      
         
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Limitless Technologies-
          <a class="text-white" href="#">The Entrepreneurship Network</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->