
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
    <div class="search">
        <input class="sea" type="search"  placeholder="Search" > 
        <button class="sear" type="submit">Search</button>
    </div>
    <br>
    
    <div class="home">
         
    <img src="../../assets/pexels-ken-tomita-389818.jpg" alt="Work">
    <div class="text">
    <p >A World of Knowledge at your finger tips</p>
    </div>
    </div><br><br>
    <div class="red">
     <a href="#"><button> Learn More</button></a> 
      <h1 class="text">Learning Together From the Comfort of Your Home</h1>
    </div><br><br>

    <div class="bg-img">
    <img  src="../../assets/pexels-george-pak-7973205.jpg" alt="students">
    <div>
      <h1 class="center" style="font-size: 50px;"> Welcome to<br><br>
        <span> THE NEXT BIG THING...</span></h1>
    </div>
    <div class="join">
    <a href="#"><button>Join TEN Virtual Campus</button></a>
    </div>
    </div>
  
   

    <hr>
    <!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
   
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Our expert teachers design and curate the curriculum using best practices
         and careful consideration of how people learn and retain information with 
         the ongoing tech trends in the professional domain. We've debated every facet 
         of our methodology, from the order in which to teach concepts, the analogies used 
         to clarify them and how exercises should be structured to deliver the maximum educational punch.
      </p>
    </section>
    <!-- Section: Text -->

   
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Limitless Technologies-
    <a class="text-white" href="#">The Entrepreneurship Network</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    
</body>
</html>

