<h1>ONLINE COURSES</h1>
<hr>
<div class="search">
  <input class="sea" type="search"  placeholder="Search" > 
  <button class="sear" type="submit">Search</button>
</div>
<br><br>

<div class="container">
  <div class="mb-3">
    <label style="font-weight: bold;" for="form">Choose your course:</label><br>
<select style="padding: 15px 10px;border: 1px solid rgb(3, 52, 82);" class="size" name="" id="form" required>
<option value="">Choose</option>
<option value="">Digital Marketing</option>
<option value="">Angular Developer</option>
<option value="">React Developer</option>
<option value="">WordPress Developer</option>
<option value="">Project Management</option>
<option value="">Product Management</option>
<option value="">Market Research</option>
<option value="">Sales</option>
<option value="">SpringBoot Developer</option>
<option value="">Java Developer</option>
</select>
</div>
<br>

    <h1>REGISTRATION:</h1>
    
    
    <form >
      <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullname" placeholder="Your Name" required>
      </div>
        <div class="mb-3">
          <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com" required>
        </div>
        <div class="mb-3">
          <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password" required>
        </div>
     
        <div class="mb-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck2">
            <label class="form-check-label" for="dropdownCheck2">
              Remember me
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>

    
    <hr>

        <!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
   
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Our expert teachers design and curate the curriculum using best practices
         and careful consideration of how people learn and retain information with 
         the ongoing tech trends in the professional domain. We've debated every facet 
         of our methodology, from the order in which to teach concepts, the analogies used 
         to clarify them and how exercises should be structured to deliver the maximum educational punch.
      </p>
    </section>
    <!-- Section: Text -->

   
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Limitless Technologies-
    <a class="text-white" href="#">The Entrepreneurship Network</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
